.jcontainer {
    width: auto;
    height: inherit;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 40px;
    background-color:white;
}

.jpageheader {
    text-transform: uppercase;
    font-weight:700;
    font-size: larger;
    color:darkslategray;
    margin-top:20px;
}
.jpagecontent {
    margin-top: 20px;
    box-shadow: -3px 1px 17px -2px rgba(194,194,194,0.25);
    -webkit-box-shadow: -3px 1px 17px -2px rgba(194,194,194,0.25);
    -moz-box-shadow: -3px 1px 17px -2px rgba(194,194,194,0.25);
    padding: 40px;
    margin-bottom: 20px;
    background-color: white;
}

.jform {
    width: 100%;
}

.jformcontainer {
    display: flex;
    flex-direction: column;
}

.col-form-group {
    display: flex;
    flex-direction: column;
}

.col-form-group div { 
    margin: 3px 0;
}

.jformcontainer div {
    margin: 10px 0;
}

.jformgroup {
    width: 100%;
    display: flex;
    justify-content: center;
}

.jformgroup input:disabled, .jformgroup select:disabled, .jformgroup textarea:disabled{
    background-color: #e9ecef;
    cursor: not-allowed;
}

.jformgroup textarea {
    resize: vertical;
}

.jformgrouprow {
    flex-direction: row;
    align-items: center;
}

.jformgroupcol {
    flex-direction: column;
}

.jcontrollabel {
    font-size: 13px;
    text-transform: capitalize;
    color:#212529;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.jformgrouprow.jcontrollabel {
    flex-grow: 2;
}

.jformgroup.form_row {}

.w-300 {
    min-width: 300px;
    max-width: 300px;
}

.select-w-300 {
    min-width: 316px;
    max-width: 316px;
}

.jformcontrol {
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid  rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: ease-in-out, all .35s ease-in-out;
    outline: transparent solid 1px;
    color:#212529 !important;
}


.jformcontrol:focus {
    outline: skyblue solid 1px;
    border-color: lightgray;
}

input.jformcontrol:read-only {
    background-color: rgb(245, 250, 250, 0.9);
}

.jitems-left {
    justify-content: end;
}

.jmargin-left {
    margin-left: 30px !important;
}

.jmargin-top {
    margin-top: 10px;
}

.row-radio {
    display: flex;
    flex-wrap: wrap;
}
.row-radio > label {
    margin: 0 5px;
}

.j-action-area {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.j-action-area  .action-btn {
    margin-left: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(var(--sysblue));
    padding: 10px 20px;
    border: none;
    outline: none;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.jform .section-header h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: small;
    text-align: left;
    color: rgb(34, 43, 43);
}

.jform .section-header {
        border-bottom: 1px solid rgb(231, 231, 231);    
        padding: 5px 0 15px 0;
        margin: 5px 0 15px 0;
}

.j-action-btn {
    border-radius: 3px;
    color: white;
    background-color: rgb(var(--sysblue));
    padding: 8px 15px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    transition: ease-in-out all 1s;
    cursor: pointer;
    width: max-content;
}

.j-action-btn-alt {
    border-radius: 3px;
    color: white;
    background-color: #007bff;
    padding: 6px 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    transition: ease-in-out all 1s;
    cursor: pointer;
    width: 200px;
}

.j-action-btn:hover, .j-action-btn-alt:hover {
    opacity: .7;
}

.j-action-btn:disabled, .j-action-btn-alt:disabled {
    opacity: .3;
    cursor: not-allowed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.j-slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .j-slider input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(var(--sysblue));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(var(--sysblue));
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .form-paragraph {
      text-align: left;
      text-transform: none;
      background-color: #f1f0f0;
      padding: 10px;
  }



  .jcontent-between {
      flex-direction: row;
      justify-content: space-between;
  }

  .jflex {
    display: flex;
    align-items: center;
  }

  .jborder {
      border: 1px solid;
  }

  .jtable-content {
      overflow-y: hidden;
      overflow-x: auto;
      width: 100%;
      padding-bottom: 20px;
  }

  .jtable-content table {
      width: 100%;
      border-collapse: collapse;
  }

  .jtable-content table thead tr {
      background-color: #f2f2f2;
  }

  .jtable-content table thead tr th{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 6px;
    width: auto;
    text-align: center;
    border: 1px solid rgba(65, 65, 65, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.jtable-content table tbody tr td {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 10px;
    padding: 4px 6px;
    width: auto;
    text-align: center;
    word-break: keep-all;
    border: 1px solid rgba(65, 65, 65, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.jtable-content table tbody tr {
    transition: 1s;
    cursor: pointer;
}
.jtable-content table tbody tr:hover {
    background-color: rgba(65, 65, 65, 0.2);
}

.j-no-bg {
    background-color: transparent !important;
}

.jpagination {
    border: 1px solid rgba(73, 72, 72, 0.1);
    border-radius: 3px;
}

.jpagination button {
    border: none;
    padding: 10px;
    text-transform: capitalize;
}

.jpagination:nth-child(2) button {
    background-color: transparent;
    border-right: 1px solid rgba(73, 72, 72, 0.1);
}
.jpagination:nth-child(2) button {
    transition: 1s;
    cursor: pointer;
}
.jpagination:nth-child(2) button:hover {
    background-color: rgba(73, 72, 72, 0.1);
}

.pagination-number.active {
    background-color: rgb(var(--sysblue)) !important;
    color: white;
    border-right: 1px solid transparent !important;
}

.jmargin-right {
    margin-right: 30px !important;
}

.j-action-btn:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.j-outer-container {
    display: none;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: 2s;
    overflow-y: auto;
    overflow-x: hidden;

}

.j-outer-container .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid rgb(177, 176, 176);
    width: 60%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: janimatetop;
    animation-duration: .4s;
    position: relative; 
    overflow: auto;
}

.jformgroup .file-action {
    font-size: small;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    color: rgb(34, 43, 43);
    border: 1px dashed  rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.jformgroup .file-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-height: 100px;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 5px;
    padding: 15px 0;
    width: 100%;
}

.jformgroup .file-area > div, .jformgroup .file-area > img {
    margin: 0 5px;
}

@keyframes bottom-enter {
  0% {
    right: -50px;
  }
  100% {
    right: 10px;
  }
}

.footer-container {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 9999999;
  padding: 10px;
  animation: bottom-enter 0.5s linear forwards;
  padding: 5px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(204, 234, 240);
}

.expand {
  width: 250px !important;
}

.hide {
  display: none;
}

#sysfootpanel .list-group {
    width: 100%;
}

#sysfootpanel .list-group .list-group-item {
    padding: 0 3px;
    margin: 0;
    background-color:white;
    border-top: 2px solid lightgray;
}

.pr-only {
    display: none;
}

.pr-hide {
                display: block !important;
              }

#propertyprev {
    width: 300px;
}

#description td {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:5px 0;
    text-transform:capitalize;
    transition: .3s;
    
}

#description td span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    color: rgb(34, 43, 43);
}

 #propertyprev table, tr, td {
     border: none;
    font-size: 10px;
 }
 
 .receipt {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*position: relative;*/
    min-height: 1000px;
    /*border:1px solid black;*/
}

.reciept-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 0 30px 0;
    border-bottom: 4px solid rgb(22, 22, 22);
}

.reciept-header > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px
}

.reciept-header > div:nth-child(1) > span:nth-child(2) h1 {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 0 3px 0;
    padding: 0;
    text-align: left;
}

.reciept-header > div:nth-child(1) > span:nth-child(2) span {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 80%;
    display: block;
}

.reciept-header > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: right;
}

.billing  {
    display: flex;
    align-items: start;
    justify-content: space-between;
    /*gap: 30px;*/
    font-size: 14px;
    margin: 40px 0;
}

.billing > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 50%;
    align-items: start;
    gap: 5px;
    
}

.billing > div:nth-child(1) {
    border-right: 1px solid rgb(224, 223, 223);
}

.billing > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.billing > div > ul li {
    text-align: left;
    margin: 2px 0;
    font-size: 11px;
}

.billing h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.items {
    border-top: 1px solid rgb(215, 210, 210);
    padding: 20px 0;
    font-size: 12px;
}

.items table {
    width: 100%;
}

.items table, .items td {
    border: none;
    border-collapse:   collapse;
}

.items table tr {
    border-bottom: 1px solid rgb(229, 226, 226);
}

.items table tr th {
    text-align:left;
    padding: 5px 0;
}

.items table tr th:last-child {
    text-align:right
}

.items table tr td {
    text-align:left;
    width: 16%;
    padding: 5px 0;
}

.items table tr td:last-child {
    text-align:right
}

.items table tr td:first-child {
    width: 50%;
}

.notice {
    position: absolute;
    bottom: 0px;
    width: 90%;
}

.notice > div {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    /*border: 1px solid black;*/
}

.notice > div div {
    border-top:1px solid black;
    padding-top: 10px;
    width: 40%;
    text-align: left;
    font-size: 11px;
}

.notice > div div:first-child {
    border-top: none;
    padding-top: 0;
}


.deliverynote {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*position: relative;*/
    min-height: 1000px;
}

.note-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 0 30px 0;
    border-bottom: 4px solid rgb(31, 175, 45);
}

.note-header h1 {
    color:  rgb(31, 175, 45);
}

.note-delivery-info {
    border-bottom: 4px solid rgb(31, 175, 45);
    padding: 30px 0
}

.note-delivery-info div {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.note-delivery-info > div > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-delivery-info > div:first-child ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.note-delivery-info > div:first-child ul li {
    text-align: left;
    padding: 5px 0;
}

.note-delivery-info > div > div:first-child ul li:first-child {
    font-weight: bolder;
}

.note-delivery-info > div:last-child {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.note-delivery-info > div:last-child p {
    opacity: .8;
}

.deliverynote .items {
    border-top: 1px solid rgb(215, 210, 210);
    padding: 20px 0;
    font-size: 12px;
}

.deliverynote .items table {
    width: 100%;
}

.deliverynote .items table, .deliverynote .items td {
    border: none;
    border-collapse:   collapse;
}

.deliverynote .items table tr {
    border-bottom: 1px solid rgb(229, 226, 226);
}

.deliverynote .items table tr th {
    text-align:left;
    padding: 5px 0;
}

.deliverynote .items table tr th:last-child {
    text-align:right
}

.deliverynote .items table tr td:last-child {
    text-align:right
}

.deliverynote .items table tr td:nth-child(1) {
    width: 20%;
}

.deliverynote .items table tr td:nth-child(2) {
    width: 30%;
}

.deliverynote .items table tr td {
    text-align:left;
    width: 16%;
    padding: 10px 0;
}

.note-footer {
    /*padding-top: 30px;*/
    position: absolute;
    bottom: 0;
    width: 90%;
}

.note-footer p {
    text-align: left;
    font-weight: bold;
}

.note-footer > div {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px
}

.note-footer > div > div {
    text-align: center;
    border-top: 1px solid black;
    width: 33%;
    padding: 20px 0;
}

.note-footer > div div:first-child {
    border: none;
    padding: 0;
    text-align: left;
}

.transaction-receipt {
    max-width: 310px;
    margin: 0 auto;
    padding: 11px;
    font-weight: 500;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.transaction-receipt > div:first-child > h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 40px 0;
    text-align:center;
}

.transaction-receipt > div:first-child > div {
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.transaction-receipt > div:first-child > div > div {
    text-align: left;
}

.transaction-receipt > div:first-child > div > div p {
    margin: 2px 0;
}

.transaction-receipt > div:first-child > div > div p:first-child {
    font-size: 11px;
    font-weight: 600;
}

.transaction-receipt > div:first-child > div > div p:last-child {
    max-width: 70%;
}

.transaction-receipt > ul {
    list-style: none;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 20px 0;
    margin: 20px auto;
}

.transaction-receipt > ul >li {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin: 3px 0;
    text-transform: capitalize;
}

.transaction-receipt .footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
}

.transaction-receipt .footer p {
    opacity: .8;
    font-size: 10px;
}

@media screen and (max-width: 900px) {
    .j-outer-container .modal-content {
        width: 70%;
        margin: 15% auto;
    }
        .jformgroup.form_row {
        display: block !important;
        width: auto;
    }
    
     .jformgroup.form_row > div {
         margin: 5px 0px !important;
     }
     
     .jcontainer {
         margin: 20px 0 !important;
         width: inherit;
         padding: 0 !important;
     }
     
     .jpagecontent {
         transform: none;
         margin: 10px 0;
         padding: 10px !important;
         padding-bottom: 25px !important;
     }
     
     #propertyprev {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .j-outer-container .modal-content {
        width: 80%;
    }
}

@keyframes janimatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }


/* .source-row-item.odd-item {
    background-color: rgba(73, 72, 72, 0.1) !important;
} */

@media print {

    #loan-search-wrapper, #loan-download-excel, #loan-print-action,.jpagination, #norepaymentform, .no-pr  {
        display: none !important;
    }

    .jtable-content table tbody tr td, .jtable-content table thead tr th {
        padding: 5px 2px !important;
    }

    #loantransactionreportform .col-form-group{
        display: none !important;
    }
    
    .pr-only {
        display: block !important;
    }
    
    .pr-hide {
                display: none !important;
              }
    
     .receipt {
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: initial;
        height: inherit;
        /*border:1px solid black;*/
    }
    
    .notice {
        position: absolute;
        bottom: 0;
        padding: 10px 0;
        width: 100%;
    }
    
    .notice > div {
        display: flex;
        align-items: start;
        width: 100%;
        justify-content: space-between;
        gap: 50px;
    }
    
    .notice > div div {
        border-top:1px solid black;
        padding-top: 10px;
        width: 33%;
        text-align: left;
    }
    
    .notice > div div:first-child {
        border-top: none;
        padding-top: 0;
    }
    
    .deliverynote {
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: initial;
        height: inherit;
    }
    
    .note-footer {
        /*padding-top: 30px;*/
        position: absolute;
        bottom: 0;
        width:100%;
    }


    /* @page { size: landscape; } */
}